.header{background-image: url(../img/Layer.png) ;
width: 100%;
height: 600px;
background-size: 100%;

}
body{
    font-family: 'Montserrat', sans-serif;
}
.first_title{
    color: #ffffff;
    font-size: 48px; 
    font-family: 'Lucida Sans';
}
.second_title{
    color: #ffffff;
    font-size: 18px;
}
.third_title{
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: rgba(0,0,0,0.25);
    width: 700px;
    height: 80px;
    font-size: 54px;
    text-align: center;

}
span{
    color: yellow;
}
.info_block{
    padding-top: 300px;
    padding-left: 150px;

}
.main{
    background-image: url(../img/law.png);
    color: #373737;
    text-align: center;
}
.first{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.second{
    text-align: center;
    font-size: 12px;
}
.orange_small{
    background-color: #f1ad1d;
    width: 60px;
    height: 2px;
    border: 0px;
    margin-top: 45px;
    margin-bottom: 60px;
}
.menulogo{
    color: orange;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    font-family: sans-serif;
    display: inline-block;
    width: 20%;
}
.menu{
    margin: 0 auto;
    
    text-align: center;
    margin-top: 50px;
}
.menulist{
display: inline-block;
width: 60%;
text-align: right;
}
.menuitem{
    display: inline-block;
    margin-right: 50px;
    font-size: 18px;
    text-transform: uppercase;
}
.menuitem:hover{
    color: orange;
    margin-right: 40px;
}
.menuitem:hover::after{
    content: url(../img/arrow-hover.png);
    position: relative;
    top: -3px;
}
.line{
    width: 75%;
    background-color: orange;
    height: 1px;
    border: none;
}

.img_block{
    display: inline-block;
    width: 50%;

}
.text_block{
    display: inline-block;
    width: 40%;
}
.button{
    background-color: orange;
    width: 30%;
    padding: 15px;
    color: white;
    text-align: center;
}
.new_block{
  background-image: url(../img/Layer22.png);
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-top: 90px;
}
.block_p{
    color: white;
    text-transform: uppercase;
    font-size: 22px;
}
.new_block_2{
    margin: 50px;
}
.photo_block{
    width: 900px;
    margin: 0 auto;
    height: 300px;

}
.frame{
    width: 150px;
    height: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    position: relative;
}
.person_name{
    position: absolute;
    width: 110px;
    height: 20px;
    background-color: #333333;
    color: #fff;
    font-size: 14px;
    line-height: 12px;
    left: 14px;
    top:  95px;
    text-transform: capitalize;
    padding: 12px 0 0 10px;

}
.color_name{
color: #f1ad1d;
}
.photo1{
    background-image: url(../img/1.png);
}
.photo2{
    background-image: url(../img/2.png);
}
.photo3{
    background-image: url(../img/11.png);
}
.photo4{
    background-image: url(../img/3.png);
}
.photo5{
    background-image: url(../img/4.png);
}
.photo6{
    background-image: url(../img/5.png);
}
.photo7{
    background-image: url(../img/12.png);
}
.photo8{
    background-image: url(../img/6.png);
}
.photo9{
    background-image: url(../img/7.png);
}
.photo10{
    background-image: url(../img/8.png);
}
.photo11{
    background-image: url(../img/9.png);
}
.photo12{
    background-image: url(../img/10.png);
}
.new_block_3{
    
    margin-top: 50px;
}
.container{
    width: 65%;
    margin: 0 auto;
    height: 650px;
    text-align: center;
}
.card_info{
    float: left;
    width: 200px;
    margin: 15px;
}
.info_title{
    background-color: black;
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
}
.black{
    background-color: black;
}
.white{
    color: white;
}
.orange{
    color: orange;
}
.info_text, .info_text_2{
    font-size: 0.8em;
}
.img{
    margin: 20px 0;
    height: 50px;
}
.info_text_2{
    border-bottom: 2px solid black;
    padding-bottom: 30px;
}
.new_block_4{
    background-image: url(../img/Layer39.png);
    padding-top: 150px;
    padding-bottom:300px;
    background-size: 100% 100%;
}
.orange{
    color: orange;
}
.block_4_p{
    color: white;
    letter-spacing: 1.5px;
   
}
.image_block{
    text-align: center;
}
.img_4{
    float: left;
    padding: 0 50px;
    position: relative;
    top: 50px;
    left: 184px;
    
}
.img_4_down{
    display: block;
    float: left;
    padding: 0 50px;
    position: relative;
    top: 60px;
    left: 184px; 
}
 .new_block_5{
     margin-top: 100px;
     
 }
 .block_5_line{
     width:79%;
     background-color: orange;
     height: 2px;
     border: none;
     float: left;
     position: relative;
     top: 25px;
     left: 15px;
 }
 .block_5_img{
     float: left;
 }
 .block_5_p{
     clear: both;
     border-bottom: 2px solid black;
     font-size: 10px;
     padding: 15px 0 20px 0;

 }
 .block_5_p2{
     float: left;
     font-size: 10px;
     padding-top: 10px;
     padding-left: 10px;
 }
 .inner_block{
     width: 25%;
     float: left;
     margin: 0 52px;
 }
 .container_5{
     width: 90%;
     overflow: auto;
     margin: 0 auto;
 }
 .new_block_6{
     margin-top: 100px;
     overflow: auto;
 }
 .form{
     width: 46%;
     margin: 0 auto 177px;
 }
 .email{
     width: 500px;
     height: 40px;
     padding-left: 30px;
     border: 1px solid #7c7c7c;
     border-right: none;
    
 }
 .subscribe{
     
     padding: 13.5px 24px;
     color: white;
     border: 1px solid #7c7c7c;
     background-color: #f1ad1d;
     text-transform: capitalize;
     font-size: 12px;
     font-family: 'Montserrat', sans-serif;
     margin-left: -5px;
     
 }
 .send_us{
    background-color:  #333333;
    width: 380px;
    height: 56px;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 56px;
    padding-left: 15px;
     
 }
 .orange{
     color: #f1ad1d;
 }
 .lorem-form{
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
 }
 .name_6, .email_6 {
    border: 1px solid #929292;
    width: 260px;
    height: 45px;
    font-style: italic;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    padding-left: 13px;
    margin-right: 18px;
 }
 .message_6{
    border: 1px solid #929292;
    width: 572px;
    height: 186px;
    font-style: italic;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    padding-left: 13px;
    margin-top: 40px;
 }
 .form_mail{
    width: 600px;
    margin-left: 100px;
    float: left;
 }
 .reset, .send{
    background-color:  #f1ad1d;
    width: 118px;
    height: 43px;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 900;
    line-height: 43px;
    text-transform: uppercase;
    border: none;
    margin-right: 15px;
    margin-top: 10px;
 }
 .form_contact{
     float: left;
     margin-left: 200px;
 }
 .short_box{
     clear: both;
    background-color:  #333333;
    width: 246px;
    height: 56px;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 56px;
    padding-left: 15px;
 }
 .icon_block{
     background-color: #333333;
     width: 36px;
     height: 32px;
     float: left;
     clear: both;
 }
 .icon-yellow{
     display: block;
     color: #f1ad1d;
     position: relative;
     left: 12px;
     vertical-align: -webkit-baseline-middle;
 }
 .text_contact{
     float: left;
     position: relative;
     top: -10px;
     left: 10px;
 }
 .icon_block_yellow{
     width: 45px;
     height: 40px;
     background-color: #f1ad1d;
     margin-top: 30px;
 }
 .white_icon{
     color: white;
     position: relative;
     left: 14px;
     top: 11px;
 }
 .full_yellow_block{
     width: 215px;
     display: flex;
     justify-content: space-between;
 }
 .follow{
     clear: both;
     margin-top: 40px;
 }
 .custom-full-width-section{
     margin-top: 140px;
     clear: both;
     height: 485px;
     background-image: url(../img/Layer\ 59.png);
     background-size: 100% 100%;
     overflow: auto;
 }
 a{
     text-decoration: none;
 }
 .custom-full-width-section h2{
     text-align: center;
     text-transform: uppercase;
     color: white;
     margin: 100px 0 80px;
 }
 .custom-full-width-section h3{
    text-align: center;
    color: white;
 }
 .custom-brands-section{
     margin-top: 100px;
 }
 .brand-box{
     margin: 0 auto;
     width: 80%;
     display: flex;
     justify-content: space-between;
 }
 .title-item{
    font-family: Montserrat;
    color:  #333333;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    text-align: left;
 }
 .title-item::before{
     display: inline-block;
     content: "";
     width: 36px;
     height: 32px;
     background: url(../img/ࠣopy\ 2.png) center no-repeat #333333;
     vertical-align: middle;
 }
 .item-description{
    font-family: Lato;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    
 }
 .portfolio-item{
     width: 359px;
     
 }
 .grey-line{
     width: 369px;
     height: 2px;
     background-color: #c1c1c1;
 }
 .item-date, .item-details{
    font-family: Lato;
    color:  #828282;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
 }
 .black-line{
    width: 369px;
    height: 2px;
    background-color: black;
 }
 .item-details{
     margin-left: 175px;
     text-transform: uppercase;
 }
 .container-portfolio{
     margin: 0 auto;
     width: 1169px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-between;
 }
 .load_more{
     background-color: #f1ad1d;
     color: white;
     font-size: 14px;
     padding: 15px 65px;
     margin-top: 40px;
     text-transform: capitalize;
 }
 .article{
     text-align: center;
 }
 .start_your_business{
     width: 100%;
     margin-top: 50px;
     height: 200px;
     background-image: url(../img/Layer22.png);
     background-size: 100% 100%;
     color: white;
     padding: 40px 0 60px;
     text-align: center
 }
 .buy{ 
     padding: 10px 35px;
     font-size: 12px;
     color: white;
     border: 1px solid white;
     background-color: rgba(35, 168, 56, 0 );
     text-transform: uppercase;
     border-radius: 5px;
     
 }
 .a{
    width: 130px;
 }
 .gallery{
     margin-top: 50px;
 }
 .menu_gallery{
     padding: 0 400px;
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
 }
 .menu_button{
    color:  #111111;
    font-size: 14px;
    padding: 8px 18px;
    background-color:white;
    text-transform: capitalize;
    border: 1px solid black;
    cursor: pointer;
 }
 .menu_button:hover{
     background-color: black;
     color: #f1ad1d;
 }
 .photo_container{
     display: grid;
     grid-template-columns: 281px 281px 281px 281px;
     grid-template-rows: 271px 271px 271px;
     grid-column-gap: 20px;
     grid-row-gap: 20px;
     width: 83.5%;
     margin: 50px auto 0;
 }
 .photo_box{
     width: 281px;
     height: 271px;
     background-color: red;
     margin-bottom: 20px;
     border: 2px solid black;
     text-align: center;
 }
 .first_box{
     background-color: #fff;
 }
 .portfolio_page{
     text-transform: capitalize;
     font-weight: 600;
 }
 .first_box_second_p{
     font-size: 14px;
 }
 .read_more{
     color: white;
     background-color: #f1ad1d;
     padding: 8px 25px;
     text-transform: capitalize;
     border: none;
     cursor: pointer;
 }
 .map_location_button{
     width: 100%;
     background-color: #333333;
     color: white;
     padding: 20px 0;
     text-transform: capitalize;
     font-size: 18px;
     font-weight: 700;
     margin-top: 40px;
 }
 .second_box,.third_box,.forth_box,.fifth_box,.six_box,.seven_box,.eight_box,.ninth_box,.tens_box,.elevens_box,.twelves_box{
     background-image: url(../img/Layer22.png);
     background-size: cover;
 }
 .copyright{
     color: #333333;
     font-size: 14px;
     text-transform: capitalize;
     text-align: center;
     margin-top: 40px;
 }


